@font-face {
    font-family: Roboto;
    src:    url("../font/roboto/Roboto-Light.ttf");
}

::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-track {background: rgb(255, 254, 226);}
::-webkit-scrollbar-thumb {background: rgb(93, 131, 131);}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 254, 226);
    font-family: Roboto;

}

a {
    text-decoration: none;
    color: black;
}

.footer {
    margin-top: 10vh;
    height: 50vh;
    background-color: rgb(93, 131, 131);
}